
:root{
  --font-color:#354f52;
  --padding-common: 10px;
}
*
{
  margin: 0;
  padding: 0; 

}

html, body {
  
background-color: #cad2c5;
 color: var(--font-color);
 height: 100%;
 width: 100%;
 font-family: 'Quicksand', sans-serif;
 font-size:20px;
 
}
header
{
  /*position:fixed;
  width:100%;  
  top:0;*//*to diplay fixed header */
  display:flex;
  flex-direction:row;
  justify-content:space-around;  
  box-shadow: 0px 5px 5px rgba(53, 79, 82, 0.2);
  z-index: 1;
  padding: var(--padding-common);
}
a{
  text-decoration:none ;
  color: var(--font-color);
  
}
#logo_icon
{ 
  height:7%;
  width:7%; 
  align-self: center; 
  visibility:visible;
}
#name_icon
{
  height: 7%;
  width:7%; 
  align-self: center;
}

.header_nav
{ 
  align-self: center;
}
.header_nav a:hover{
  text-decoration: underline;
}
.header_nav a{
  margin: 0 10px;
}
main
{
  padding: var(--padding-common);
  box-shadow: 0px 5px 5px rgba(53, 79, 82, 0.2); 
  width:100%;
}
.intro_section
{
  font-family: 'Varela Round', sans-serif;
  font-size: 48px;
  padding: var(--padding-common);
  margin: 20px 0;
  width: 100%;
  height: auto; 
  display:grid;
  gap:var(--padding-common);
  grid-template-columns: 1fr 1fr;  
  grid-template-areas: 
  " profile-pic intro";
}
#profile_pic
{
  max-width: 100%;
  height: auto;
  grid-area: profile-pic;
  transform: scaleX(-1); /*to flip the image*/
}
#intro_description 
{
  grid-area: intro;
  align-self: center;
}
.work_section
{
  margin: 10px auto;
  padding:var(--padding-common);
  display:grid;
  grid-template-columns: 1fr 1fr;  
  grid-template-areas: 
  "work-1 work-2"
  "work-3 work-4"
  "work-5 work-6";
  
}
.polaroid
{
  box-shadow: 0 4px 8px 0 rgba(53, 79, 82, 0.2), 0 6px 20px 0 rgba(53, 79, 82, 0.19);
  margin-bottom: 25px;  
}
.polaroid img
{
  display: block;
  width:100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;  
}
.polaroid:hover
{
  transform: scale(1.05);
}
figcaption
{
  text-align: center;
  padding: 10px 20px;
}
#Work-1
{
  grid-area: work-1; 
  margin:0px 10px;
}
#Work-2
{
  grid-area: work-2;
  margin:0px 10px;

  
}
#Work-3
{
  grid-area: work-3;
  margin:0px 10px;

}
#Work-4
{
  grid-area: work-4;
  margin:0px 10px;

}
#Work-5
{
  grid-area: work-5;
  margin:0px 10px;

}
#Work-6
{
  grid-area: work-6;
  margin:0px 10px;

}

#about
{
  margin: 10px auto;  
  box-shadow: 0px 5px 5px rgba(53, 79, 82, 0.2);
  font-size: 25px;
  width:100%;
  padding: var(--padding-common);
}
/*
#about
{
  display:none;
}
.header_nav:nth-child(2):active + #about{
  
  display:block;
  
}
*/

#footer{
display: grid;
grid-template-columns: 2fr 1fr;
box-shadow: 5px 0px 10px rgba(53, 79, 82, 0.2);
padding: var(--padding-common);
}
#footer_nav a
{
 justify-self: center;
  margin: 0px 10px;
}




@media only screen and (max-width: 768px)
{
  body
  {
    font-size:15px;
  }

  .intro_section
{
  font-size:28px;
 
  grid-template-columns: 1fr ;  
  grid-template-areas: 
  " profile-pic "
  "intro";
}
.work_section
{  
  grid-template-columns: 1fr ;  
  grid-template-areas: 
  "work-1 "
  "work-2"
  "work-3 "
  "work-4"
  "work-5 "
  "work-6";
  
}

}
